<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Grocery List</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${grocerylist.name}" />
        <span th:errors="${grocerylist.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="category">Category</label>
        <input class="form-control" th:field="${grocerylist.category}" />
        <span th:errors="${grocerylist.category}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="location">Location</label>
        <input class="form-control" th:field="${grocerylist.location}" />
        <span th:errors="${grocerylist.location}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="items">Items</label>
        <div th:each="i, itemStat : *{grocerylist.items}">
            <input class="form-control" th:field="*{grocerylist.items[__${itemStat.index}__].name}" />
            <input class="form-control" th:field="*{grocerylist.items[__${itemStat.index}__].quantity}" />
<!--            <span th:text="${i.quantity}"></span>-->
        </div>
<!--        <input class="form-control" th:field="${grocerylist.items}" />-->
<!--        <span th:errors="${grocerylist.items}" class="error"></span>-->
    </div>
    <input type="submit" value="Add List" />
</form>

</body>
</html>