<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<form method="post">

    <div class="form-group" th:each="grocerylist : ${grocerylists}">

        <span th:text="${grocerylist.name}"></span>
            <input type="checkbox" name="groceryListIds" th:value="${grocerylist.id}">
    </div>
    <input type="submit" value="Delete Selected List">
</form>

</body>
</html>