<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: page-header"></nav>

<br><br><br>

<h1>Edit Grocery List</h1>

<form action="#" method="post">
<!--      th:action="@{/edit/{id}(id=${grocerylist.id})}"-->
<!--      th:object="${grocerylist}"-->

    <div class="container">
        <form method="post" style="max-width:600px;">
            <div class="form-group">
                <label th:for="name">Name</label>
                <input class="form-control" placeholder="Name..." th:field="${groceryList.name}"/>
                <span th:errors="${groceryList.name}"  style="color:red"></span>
            </div>

            <div class="form-group">
                <label th:for="category">Category</label>
                <input class="form-control" placeholder="Category..." th:field="${groceryList.category}"/>
                <span th:errors="${groceryList.category}" style="color:red"></span>
            </div>
            <div class="form-group">
                <label th:for="location">Location</label>
                <input class="form-control" placeholder="Location..." th:field="${groceryList.location}"/>
                <span th:errors="${groceryList.location}" style="color:red"></span>
            </div>
            <div class="form-group">
                <label th:for="item">Items</label>
                <textarea placeholder="All items go here..." rows="10" cols="30" class="form-control" th:field="${groceryList.item}"/>
                <span th:errors="${groceryList.item}" style="color:red"></span>
            </div>
        <!--    </div>-->
<!--&lt;!&ndash;    <div class="form-group" th:each="i, itemStat : *{grocerylist.items}">&ndash;&gt;-->
<!--        <label th:for="items">Items</label>-->
<!--    <textarea rows="10" cols="30" class="form-control" th:field="${grocerylist.item}" />-->
<!--&lt;!&ndash;        <input class="form-control" th:field="*{grocerylist.items[__${itemStat.index}__].name}" />&ndash;&gt;-->
<!--&lt;!&ndash;        <input class="form-control" th:field="*{grocerylist.items[__${itemStat.index}__].quantity}" />&ndash;&gt;-->
<!--        &lt;!&ndash;            <span th:text="${i.quantity}"></span>&ndash;&gt;-->
<!--        &lt;!&ndash;        <input class="form-control" th:field="${grocerylist.items}" />&ndash;&gt;-->
<!--        &lt;!&ndash;        <span th:errors="${grocerylist.items}" class="error"></span>&ndash;&gt;-->

<!--    </div>-->
    <!--    <a th:href="@{'/item/add'}">Add Item</a>-->
    <br><br>
    <input type="submit" value="Add Grocery List" />

</form>

</body>
</html>