<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<br>
<br>
<br>


<form method="post">
    <div class="form-group">
        <label th:for="username">Username</label>
            <input th:field="${loginFormDTO.username}">

        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password</label>
            <input th:field="${loginFormDTO.password}" type="password">

        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="button" value="Log In" />
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>

</body>
</html>