<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body >


<nav th:replace="fragments :: page-header"></nav>

<br><br><br>

<div>
<h2 th:text="${'Grocery List: ' + grocerylists.name}">Default Title</h2>
    <table class="job-listing">
        <tr th:each="grocerylist : ${grocerylists}">
            <td>
                <p>
                    <span>Name:</span>
                    <span th:text="${grocerylist.name}"></span>
                </p>
                <p>
                <p th:text="${'Category: '+grocerylist.category}"></p>
                </p>
                <p>
                <p th:text="${'Location: '+grocerylist.location}"></p>
                </p>
                <p>
                <p th:text="${'Item: '+grocerylist.item}"></p>
                </p>

            </td>
        </tr>
    </table>
    <br>
    <p class="button"><a th:href="@{/edit/{Id}(Id=${grocerylists.id})}">Edit</a></p>
</div>

</body>
</html>